@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700");

@media screen and (max-width: 767px) {
  
}

@media screen and (min-width: 767px) and (max-width: 1023px){

}

@media screen and (min-width: 1024px) {
  
}

.background-radial-gradient {
  background-image: url("../assets/home-csu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
span {
  font-family: "Ubuntu", sans-serif;
}

:root {
  --clr: #222327;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0;
}

.navigation {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.navigation ul {
  display: flex;
  height: 50px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}

.navigation ul li.active a .icon {
  transform: translateY(-20px);
}

.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 500;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(15px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(75px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(75px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(75px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(75px * 3));
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-item:not(.collapsed) .accordion-body {
  max-height: 200px; 
}
